{% extends "base.html" %}
{% block title %}Post List{% endblock %}
{% block content %}
<h3><a href="/blogapp/posts/{{ post.id }}/edit">{{ post.title }}</a> (by {{ post.author }}) posted: {{ post.date_posted }}</h3>
<p>{{ post.content }}</p>
<p><a href="/blogapp/posts/{{ post.id }}/delete">Remove this post</a></p>
<p><a href="/blogapp/postlist">Back to post list</a>
{% endblock %}
