{% extends "base.html" %}
{% block title %}Post List{% endblock %}
{% block content %}
{% for post in post_list %}
<h3><a href="/blogapp/posts/{{ post.id }}">{{ post.title }}</a> (by {{ post.author }}) posted: {{ post.date_posted }}</h3>
<p>{{ post.content }}</p>
{% endfor %}
{% endblock %}
